* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
